
<div class="fab-container">
 
    <div>
  
    </div>
  </div>
  
  <mat-toolbar color="primary">
    <span>Buildings</span>
    <span class="spacer"></span>
    <button mat-fab class="fab-toggler" (click)="addNew()">
      <i class="material-icons">add</i>
    </button>
  
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
  
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter building">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="buildingsFiltered" matSort class="mat-cell">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
  
      <ng-container matColumnDef="IdBuilding">
        <mat-header-cell *matHeaderCellDef mat-sort-header>IdBuilding</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.idBuilding}}</mat-cell>
    
      </ng-container>
  
      <ng-container matColumnDef="nameBuilding">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nameBuilding</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nameBuilding}}</mat-cell>
    
      </ng-container>
    
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent"
            (click)="startEdit(row.idBuilding, row.nameBuilding)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent" (click)="deleteItem(row.idBuilding, row.nameBuilding)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>

          <button mat-icon-button color="accent" (click)="goToZones(row.idBuilding)">
            <mat-icon aria-label="Delete">store</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <div class="no-results" [style.display]="buildings.length == 0 ? '' : 'none'">
      No results
    </div>
  
    <mat-paginator #paginator [length]="buildings.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
