<mat-toolbar color="primary">
    <span> <mat-icon>eco</mat-icon> Control Covid</span>
    <div class="spacer"></div>
    <a mat-button routerLink="users"><mat-icon>supervisor_account</mat-icon>Users</a>
    <a mat-button routerLink="building"><mat-icon>account_balance</mat-icon> Building</a>
    <a mat-button routerLink="dashboard"><mat-icon>assessment</mat-icon> Dashboard</a>
    <a mat-raised-button color="accent" (click)="logOut()">Log out</a>
  </mat-toolbar>

  