
<div class="fab-container">
 
    <div>
  
    </div>
  </div>
  
  <mat-toolbar color="primary">
    <span>Zones</span>
    <span class="spacer"></span>
    <button mat-fab class="fab-toggler" (click)="addNew()">
      <i class="material-icons">add</i>
    </button>
  
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
  
    <div class="form">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput #filter placeholder="Filter zones">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="zonesFiltered" matSort class="mat-cell">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
  
      <ng-container matColumnDef="idZone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>idZone</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idZone}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nameZone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>nameZone</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nameZone}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="capacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>capacity</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.capacity}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="maxCapacity">
        <mat-header-cell *matHeaderCellDef mat-sort-header>maxCapacity</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.maxCapacity}}</mat-cell>
      </ng-container>
  
      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addNew()">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button>
        </mat-header-cell>
  
        <mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent"
            (click)="startEdit(idBuilding, row.idZone, row.nameZone, row.capacity, row.maxCapacity)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
  
          <button mat-icon-button color="accent" (click)="deleteItem(idBuilding, row.idZone, row.nameZone, row.capacity, row.maxCapacity)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  
    <div class="no-results" [style.display]="zones.length == 0 ? '' : 'none'">
      No results
    </div>
  
    <mat-paginator #paginator [length]="zones.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
