<div class="container">
    <h3 mat-dialog-title>Add new Building</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
  
       
      <!--Textarea for demo purposes-->
      <!--Contains mat-hint for characters count and has maxLengt set-->
        
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="nameZone" [(ngModel)]="data.zone.nameZone" name="nameZone">
        </mat-form-field>
      </div>
  
      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="capacity" [(ngModel)]="data.zone.capacity" name="capacity">
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="maxCapacity" [(ngModel)]="data.zone.maxCapacity" name="maxCapacity">
        </mat-form-field>
      </div>
  
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
</div>