<div class="container">
    <h3 mat-dialog-title>Building id: {{data.idBuilding}}</h3>
  
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
      <div>
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="nameBuilding" [(ngModel)]="data.nameBuilding" name="nameBuilding" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
 
      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>