<div>

</div>
<div class="fab-container">
 
  <div>

  </div>
</div>

<mat-toolbar color="primary">
  <span>Users</span>
  <span class="spacer"></span>
  <button mat-fab class="fab-toggler" (click)="addNew()">
    <i class="material-icons">add</i>
  </button>

</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter users for Identification">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="usersFiltered" matSort class="mat-cell">
    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->

    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
  
    </ng-container>

    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nameUser}}</mat-cell>
  
    </ng-container>

    <ng-container matColumnDef="Lastname">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.lastNameUser}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Identification">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Identification</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.identificationUser}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.phoneUser}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.emailUser}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"
          (click)="startEdit(row.id, row.nameUser, row.lastNameUser, row.identificationUser, row.phoneUser, row.emailUser)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(row.id, row.nameUser, row.lastNameUser, row.identificationUser, row.phoneUser, row.emailUser)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="users.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator [length]="users.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


