<div class="container">
    <h3 mat-dialog-title>Are you sure?</h3>
    <div mat-dialog-content>
        Name: {{data.nameUser}}
        <p></p>
        Lastname: {{data.lastNameUser}}
        <p></p>
        Identification: {{data.identificationUser}}
        
    </div>

    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
</div>