<mat-toolbar color="primary">
  <span>Dashboard</span>
  <span class="spacer"></span>
</mat-toolbar>

<br>

<mat-form-field appearance="fill">
  <mat-label>Filtros</mat-label>
  <select matNativeControl required #t (change)="obtenerValorSelect(t.value)">

    <option [value]="0">Filtrar Por Zona</option>
    <option [value]="1">Filtrar Por Edificio</option>
  </select>
 
</mat-form-field>

<br>
<div [ngSwitch]="conditionExpression">
  <div *ngSwitchCase="0">
    <mat-form-field appearance="fill">
      <mat-label>Nombre de la Zona </mat-label>
      <input matInput (input) = "this.getRegistradosPorZona($event.target.value)">
    </mat-form-field>
  </div>
  <div *ngSwitchCase="1">
    <mat-form-field appearance="fill">
      <mat-label>Nombre Edificio </mat-label>
      <input matInput (input) = "this.getRegistradosPorEdificio($event.target.value)">
    </mat-form-field>
  </div>
  <div *ngSwitchCase="2">
    
  </div>
  <div *ngSwitchCase="3">
    
  </div>
  <div *ngSwitchDefault>output2</div>

</div>


<br>


<table mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" [dataSource]="dataSource" class="mat-elevation-z8"  >
  
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef> Cedula </th>
    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="edificio">
    <th mat-header-cell *matHeaderCellDef> Edificio </th>
    <td mat-cell *matCellDef="let element"> {{element.edificio}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="emailRegistrador">
    <th mat-header-cell *matHeaderCellDef> Email Registrador </th>
    <td mat-cell *matCellDef="let element"> {{element.emailRegistrador}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="horaIngreso">
    <th mat-header-cell *matHeaderCellDef> Hora Ingreso  </th>
    <td mat-cell *matCellDef="let element"> {{element.horaIngreso | date: 'yyyy/MM/dd h:mm'}} </td>
  </ng-container>
  
  <ng-container matColumnDef="horaEgreso">
    <th mat-header-cell *matHeaderCellDef> Hora Egreso </th>
    <td mat-cell *matCellDef="let element"> {{element.horaEgreso | date: 'yyyy/MM/dd h:mm'}}</td>
  </ng-container>

  <ng-container matColumnDef="temperatura">
    <th mat-header-cell *matHeaderCellDef> Temperatura </th>
    <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
  </ng-container>

  <ng-container matColumnDef="zona">
    <th mat-header-cell *matHeaderCellDef> Zona </th>
    <td mat-cell *matCellDef="let element"> {{element.zona }} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>

<button mat-icon-button color="accent" (click)="exporter.exportTable('csv')">
  <mat-icon aria-label="Download Dashboard">print</mat-icon>
</button>